.btn {
    cursor: pointer;
    border-radius: 3px;
    height: 48px;
    font-size: 16px;
    border: none;
    font-weight: 400;
    color: var(--white)
}

.btn-social {
    padding-right: 25px;
    position: relative;
    width: 160px;
    background-position: 11px center;
    background-size: 30px 20px;
    background-repeat: no-repeat;
    font-family: Ubuntu;
    text-align: right;
}

.btn-social::after {
    content: "";
    position: absolute;
    left: 48px;
    top: 10px;
    width: 1px;
    height: 28px;
    opacity: 0.1;
}

.btn-social.facebook {
    background-color: #305DB8;
    background-image: url(../icons/F.svg);

}

.btn-social.facebook::after {
    background: #0A162F;
}

.btn-social.facebook:hover {
    background-color: #022263;
}

.btn-social.google {
    background-color: #DF4A32;
    background-image: url(../icons/google-plus.svg);

}

.btn-social.google::after {
    background-color: #2B0D09;
}

.btn-social.google:hover {
    background-color: #AB1F09;
}

.btn-submit {
    background-color: #3CB878CC;
}

.btn-submit:hover {
    background-color: #01813F
}