.header {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: var(--header-height);
    padding: 0 79px;
    font-family: Ubuntu;
    color: var(--white);

    a {
        color: var(--white)
    }
}


.header,
.header__links,
.header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo {
    font-size: 22px;
    font-weight: 700;

}

.header__links,
.header__icons {
    gap: 24px;
}

.header__icons::after {
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.90);
    opacity: 0.5;
}

.icon {
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.icon-calendar {
    background-image: url(../icons/calendar.svg);
}

.icon-envelope {
    background-image: url(../icons/envelope-open.svg);
}

.icon-compass {
    background-image: url(../icons/compass.svg);
}

.header__actions {
    font-size: 14px;
}

.header:hover {
    box-shadow: none;
    transition: 1s all;

    a {
        color: var(--green);
    }

    .header__links,
    .header__actions {
        opacity: 0.8;
    }

    .icon-calendar {
        transition: 1s all;
        background-image: url(../icons/calendar-green.svg);
    }

    .icon-envelope {
        transition: 1s all;
        background-image: url(../icons/envelope-open-green.svg);
    }

    .icon-compass {
        transition: 1s all;
        background-image: url(../icons/compass-green.svg);
    }
}