.modal-registration {
    padding: 28px 60px 38px 60px;
    width: 444px;
    background-color: var(--white);
    position: fixed;
    top: calc(50vh + var(--header-height));
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.modal-registration::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 30px;
    left: 0;
    background-color: var(--green);
}

.modal-registration a:hover {
    text-decoration: underline;
    color: var(--dark-green);
}

.modal-registration__header {
    display: grid;
    column-gap: 4px;
    row-gap: 13px;
    justify-content: space-between;
    align-items: end;
    grid-template-columns: repeat(2, auto);

}

.modal-registration__title {
    color: #434343;
    font-size: 20px;

}

.modal-registration__subtitle {
    justify-self: end;

}
.modal-registration__subtitle a{
    color: var(--green)
}
.modal-registration__form {
    position: relative;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    border-top: #F2F2F2 solid 1px;
    margin-top: 34px;
    padding-top: 12px;
}

.modal-registration__form::before {
    content: "or";
    width: 20px;
    text-align: center;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    background-color: var(--white);
}

.form__input {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

.form__input::placeholder {
    color: #BEBEBE;

}

.form__input:focus {
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    outline: none;
}

.form__input:focus::placeholder {
    color: #434343;
}

.form__agreement input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    outline: none;
}


.form__agreement input[type="checkbox"]:checked {
    background: url('../icons/Vector\ 1.svg') no-repeat center/ 80%;
}

.form__agreement label {
    display: inline-block;
    vertical-align: middle;
    margin-left:  8px;
}

.form__agreement a {
    color: var(--green);
}