@import url(variables.css);
@import url(btn.css);
@import url(header.css);
@import url(modal.css);

html {
    background: url('../img/background.jpg') no-repeat fixed center/cover;
}

* {
    box-sizing: border-box;
}

a:any-link {
    text-decoration: none;

}

input[type='text'] {
    cursor: text;
}

input[type='checkbox'] {
    cursor: pointer;
}

h1,
h2 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}